*{
    margin: 0;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-style: normal;
}
/* banner section */
.common{
    padding-top: 30px;
}
.des{
    width: auto;
    align-items: center;
}
.container{
    background-image: url('../assets/Hero-bg.png');    
    height: 620px;
    text-align: center;
}
.heading{
    font-size: 45px;
    line-height: 68px;
}
.para{
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    background-color: #0D1321;
    margin-top: 30px;
    color: #ffffff;
    font-weight:700;
    font-size: 20px;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* main section */
.container1{
padding: 50px;
}
.main{
    margin: 50px 25px;
}
.main-des{
    margin-top:20px;
    padding: 30px 120px 30px;
    text-align: center;

}
.c1-h{
    font-size: 32px;
    padding-bottom: 20px;
}
.c1-p{
    font-size: 16px;
    font-weight:400;
    padding: 0 30px;
}
.ads{
    margin: 25px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.texts{
    color: #0D1321;
    max-width: 580px;
    padding-right: 50px;
}
.head-ad{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px
}
.para-ad{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 20px;
}
.img-ad{
    max-width: 300px;
}