*{
    margin: 0;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-style: normal;
}
.c-p{
    opacity: 0.7;
}
 .header-img{
    margin: 0 auto 32px;
    padding-top: 24px;
    width: 240px;
    height: 240px;
 }
 .header-img img{
    width: 100%;
 }
.des{
    width: auto;
    align-items: center;
}
.container{
    background-image: url('../assets/Hero-bg.png');    
    text-align: center;
    margin-bottom: 74px;
}
.container-item{
    width: 998px;
    margin: 0 auto;
}
.heading{
    font-size: 45px;
    line-height: 68px;
    margin-bottom: 24px;
}
.para{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    background-color: #0D1321;
    margin-top: 30px;
    margin-bottom: 44px;
    color: #ffffff;
    font-weight:700;
    font-size: 20px;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* main section */
.container1{
    width: 1140px;
    margin: 0 auto;
}
.main{
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
}
.main-des{
    text-align: center;

}
.c1-h{
    font-size: 32px;
    margin: 0 144px 24px 144px;
}
.c1-p{
    font-size: 16px;
    font-weight:400;
    margin: 0 144px 48px 144px;
}
.ads{
    padding: 48px 145px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texts{
    color: #0D1321;
    width: 477px;
}
.head-ad{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 16px
}
.para-ad{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 32px;
}
.img-ad{
   width: 260px;
   height: 217px;
}
.img-ad img{
    width: 100%;
    height: 100%;
}
.btn-ad{
    font-size: 20px;
    padding: 12px 20px;
    cursor: pointer;
}
.last{
    padding-bottom: 0px;
}
#inspiration{
width: 1140px;
margin: 88px auto 149px;
}
.yt{
   display: flex;
   justify-content: center;
   padding: 32px;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
}
.container2{
   
    width: 1140px;
    margin: 0 auto;
}
.card-img{
    height: 56px;
    width: 56px;
    padding-bottom: 24px;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-1{
    background-color: hsl(11, 89%, 96%);
}
.card-2{
    background-color: #e6eeff;
}
.card-3{
    background-color: #fff9d3;
}
.common2{
    border-radius: 16px;
    width: 364px;
    padding: 40px;
} 
.card-h4{
font-size: 24px;
font-weight: 800;
line-height: 36px;
padding-bottom: 8px;
}
.card-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
#support{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
    width: 1140px;
    margin: 100px auto 0;
    background-position: center;
    border-radius: 16px;
    background-size: cover;
    text-align: center;
}
.s-h{
    color: rgb(255, 255, 255);
}
.sup-container{
    padding: 64px 48px;
}
.sup-text{
    width: 548px;
    padding: 20px ;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}
::placeholder{
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.s-submit{
    width: 120px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px ;
}
#footer{
    width: 1140px ;
    margin: 80px auto 0; 
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    align-items: flex-end;
    column-gap: 24px;
}
.footer-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}